# Local Terraform Files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform Variables (Ignore actual secret values, keep examples)
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI Configuration Files
.terraformrc
terraform.rc

# SSH Keys and Certificates
*.pem
id_rsa*
*.crt
*.key

# Log files
*.log
user-data-*.log
kubeadm_init_output.log

# OS & IDE files
.DS_Store
.idea/
.vscode/
